.padre{
    display: flex;
    flex-direction: row;
}

.container{
    display: flex;
    border: 1px solid black;
    height: 400px;
    width: 400px;
    justify-content: center;
    align-items: center
  }